{{page-title "Products"}}
<h1>Product page</h1>
<ul>
    {{#if @model.products.length}}
        {{#each @model.products as |item index|}}
         <li data-test-product={{index}}>{{item.title}}</li>
        {{/each}}
    {{else}}
        <li>No products found!!!</li>
    {{/if}}
</ul>